@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
}

.page-wrapper {
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 1200px;
}

.inner-wrapper {
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 1200px;
}

.main-wrapper {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation-item .button {
  color: #FFFFFF;
  padding: 8px 23px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 20px;
}

.navigation-link .button {
  padding: 0;
  margin: 0;
  min-width: 160px;
}

.button-search,
.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  border: none;
  padding: 8px 50px;
  display: block;
}

.button-search {
  margin: 0 auto;
}

.button-subscribe {
  background-color: #82B3D3;
  margin: 0;
}

.main-header {
  display: flex;
}

.inner-header {
  display: flex;
}

/* Navigation */
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  margin-right: 70px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  width: 140px;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  margin-right: 30px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  color: #000000;
  font-weight: 700;
  display: block;
  padding: 20px 16px;
  margin: 0;
}

.navigation-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 430px;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  max-width: 290px;
  justify-content: end;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.favourites-number {
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  background-color: #7DB54F;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

/*Hero*/
.hero {
  background-image: url("../images/background/background-welcome.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 51px;
  padding-bottom: 82px;
}

/* Advantages and Services*/
.advantages {
  text-align: center;
}

.advantages-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  display: block;
  margin: 0;
}

.advantages-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  display: block;
  margin: 0;
}

.advantages-title-top {
  margin-top: 69px;
  margin-bottom: 25px;
  width: 660px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-description-top {
  margin-bottom: 69px;
  width: 660px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-title-bottom {
  margin-top: 64px;
  margin-bottom: 20px;
  width: 660px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-description-bottom {
  margin-bottom: 64px;
  width: 660px;
  margin-left: auto;
  margin-right: auto;
}

.services-list {
  text-align: center;
}

.advantages-list-title,
.services-list-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.advantages-list,
.services-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.advantages-list-item,
.services-list-item {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.advantages-list {
  flex-wrap: wrap;
}

.advantages-photo {
  display: block;
  padding: 0;
  margin: 0;
}

.advantages-list-description,
.services-list-description {
  color: #333333;
  margin: 0;
}

.advantages-wide {
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 100%;
  flex-direction: row;
}

.reverse {
  flex-direction: row-reverse;
}

.advantages-list-title {
  margin-top: 112px;
  margin-bottom: 62px;
}

.advantages-list-description {
  margin-bottom: 112px;
}

.services-list-title {
  margin-top: 183px;
  margin-bottom: 30px;
}

.services-list-description {
  margin-bottom: 81px;
}

.advantages-flex-container {
  flex-direction: column;
}

.advantages-flex-container .advantages-list-title {
  margin-top: 102px;
  margin-bottom: 62px;
}

.advantages-flex-container .advantages-list-description {
  margin-bottom: 102px;
}

.advantages-wide .advantages-list-description {
  color: #FFFFFF;
}

.advantages-transparently,
.services-tighter {
  background-color: #83B3D31F;
}

.advantages-tighter {
  background-color: #83B3D333;
}


/*Search*/
.search {
  text-align: center;
  width: 660px;
  margin: 96px auto;
}

.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-bottom: 54px;
}

/*Subscribe*/
.subscribe {
  text-align: center;
  background-image: url("../images/background/background-subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 0;

}

.subscribe-container {
  width: 480px;
  padding-top: 96px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  padding-bottom: 104px;
}

.subscribe-email {
  display: block;
  width: 452px;
}

.subscribe-inner {
  background-image: none;
}

.subscribe-inner-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-inner-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}


/*Footer*/
.page-footer-container {
  display: flex;
  width: 1060px;
  padding: 40px 70px;
  padding-bottom: 30px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.social-list-item {
  min-width: 24px;
}

.social-list-link {
  display: block;
  padding: 12px;
  margin: 0;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  color: #000000;
  display: block;
  padding: 0;
  margin: 0;
}

.link-logo-Academy {
  display: block;
  padding: 0;
  margin: 0;
}

/* Inner-page*/

.filter-container {
  background-image: url("../images/background/background-filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 35px 70px;
  padding-bottom: 70px;
}


.catalog-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 8px;
}

/*Breadcrumps*/
.breadcrumps {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  display: flex;
}

.breadcrumps-item:last-child {
  margin-left: 28px;
}

.breadcrumps-link {
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding: 0;
  margin: 0;
  min-width: 13px;
}

/*Catalog */
.catalog-products {
  display: flex;
}

.catalog-filter {
  color: #FFFFFF;
  width: 1060px;
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control-input {
  line-height: 23px;
}

/*Buttons-filter */
.button-apply {
  background-color: #82B3D3;
  border: 0;
  padding: 8px 50px;
}

.button-reset {
  background-color: transparent;
  border: 0;
  padding: 8px 50px;
}

/* Flex-filter*/
.fieldset-flex-container {
  display: flex;
  width: 370px;
  justify-content: space-between;
}

.button-filter-flex {
  display: flex;
  width: 190px;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 56px;
  margin-left: 70px;
}

/*Sorting */
.sorting {
  display: flex;
  margin: 50px 70px;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: center;
}

.sorting-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.select-control {
  font-size: inherit;
  line-height: inherit;
}

.select-control-flex {
  display: flex;
}

.cards-view-container {
  display: flex;
  margin-left: 70px;
}

.cards-view-container .button {
  height: 48px;
  width: 48px;
}

.cards-view-container .button:not(:last-child) {
  margin-right: 0;
}

.products-list {
  list-style-type: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.product-card-price {
  color: #333333;
  font-size: inherit;
  line-height: inherit;
}

.button-detailed {
  font-size: 16px;
  line-height: 20px;
}

.button-in-favourites {
  font-size: 16px;
  line-height: 20px;
  background-color: #82B3D3;
}

.button-favourites {
  background-color: #7DB54F;
}

.raiting {
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
}

/* Pagination*/
.pagination-list {
  list-style-type: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  padding: 0;
  margin: 80px 70px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
}

.pagination-link {
  display: flex;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.pagination-current-link {
  color: #000000;
  background-color: #F2F2F2;
}
