@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
}

.page-wrapper {
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px 0 #000000;
}

.inner-wrapper {
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px 0 #000000;
}

.main-wrapper {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Buttons */
.button {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  cursor: pointer;
}

.navigation-item .button {
  color: #FFFFFF;
  padding: 8px 34px;
}

.button-search,
.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  border: none;
  padding: 8px 50px;
  display: block;
}

.button-search {
  margin: 0 auto;
}

.button-subscribe {
  background-color: #82B3D3;
  margin: 0;
  border-radius: 0 4px 4px 0;
}

/* Status of buttons/links/checkboxes*/

/*Navigation button*/
.navigation-item:hover .button {
  background-color: #615048;
}

.navigation-item:focus .button {
  background-color: #615048;
}

.navigation-item:active .button {
  color: #FFFFFF4D;
}

/*Search button*/
.button-search:hover {
  background-color: #615048;
}

.button-search:focus {
  background-color: #615048;
}

.button-search:active {
  color: #FFFFFF4D;
}

/*Subscibe-button*/
.button-subscribe:hover {
  background-color: #68A2CA;
}

.button-subscribe:focus {
  background-color: #68A2CA;
}

.button-subscribe:active {
  color: #FFFFFF4D;
}

/*Social-list-links*/
.social-list-link:hover .social-icon {
  fill: #68A2CA;
}

.social-list-link:focus .social-icon {
  fill: #68A2CA;
}

.social-list-link:active .social-icon {
  fill: #68A2CA4D;
}

/* Phone*/
.footer-phone:hover {
  color: #756157;
}

.footer-phone:focus {
  color: #756157;
}

.footer-phone:active {
  color: #7561574D;
}

/*Link of Academy*/
.link-logo-Academy:hover .logo-Academy {
  fill: #756157;
}

.link-logo-Academy:focus .logo-Academy {
  fill: #756157;
}

.link-logo-Academy:active .logo-Academy {
  fill: #7561574D;
}

/*Checboxes*/
.control:hover {
  opacity: 60%;
}

/*.control-input:focus {
}*/

.control:active {
  opacity: 30%;
}

/* Filter buttons*/
.button-apply:hover {
  background-color: #68A2CA;
}

.button-apply:focus {
  background-color: #68A2CA;
}

.button-apply:active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.button-reset:hover {
  opacity: 60%;
}

.button-reset:focus {
  border: 3px solid #83B3D3;
}

.button-reset:active {
  color: #FFFFFF4D;
  border: none;
}

.select-control:hover {
  border-color: #68A2CA;
}

.select-control:focus {
  border-color: #68A2CA;
}

/* Sorting buttons*/
.cards-view-container .button:hover {
  border-color: #000000;
}

.cards-view-container .button:focus {
  border-color: #68A2CA;
}

.cards-view-container .button:active {
  border-color: #000000;
}

/* Product cards buttons*/
.button-detailed:hover {
  background-color: #615048;
}

.button-detailed:focus {
  background-color: #615048;
}

.button-detailed:active {
  background-color: #756157;
  color: #FFFFFF4D;
}

.button-in-favourites:hover {
  background-color: #68A2CA;
}

.button-in-favourites:focus {
  background-color: #68A2CA;
}

.button-in-favourites:active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.button-favourites:hover {
  background-color: #6C9E42;
}

.button-favourites:focus {
  background-color: #6C9E42;
}

.button-favourites:active {
  background-color: #7DB54F;
  color: #FFFFFF4D;
}

/*Pagination buttons*/
.pagination-item:not(:first-child) .pagination-link:hover {
  background-color: #68A2CA;
  border: 1px solid #82B3D3;
  border-radius: 4px;
}

.pagination-item:not(:first-child):focus {
  background-color: #68A2CA;
  border: 1px solid #82B3D3;
  border-radius: 4px;
}

.pagination-item:not(:first-child):active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
  border: none;
}

.pagination-item:nth-child(5) {
  pointer-events: none;
}

.main-header {
  display: flex;
}

.inner-header {
  display: flex;
}

/* Navigation */
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  margin-right: 70px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  width: 140px;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  margin-right: 30px;
  line-height: 0;
  margin-bottom: -6px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  color: #000000;
  font-weight: 700;
  display: block;
  padding: 20px 16px;
  margin: 0;
}

.current-navigation-link {
  text-decoration: underline 2px solid #756257;
  text-underline-offset: 1.18em;
}

.navigation-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 430px;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  max-width: 290px;
  justify-content: end;
}

.user-button {
  padding: 0;
  margin: 0;
  min-width: 160px;
  font-size: 16px;
  line-height: 20px;
  margin-left: 20px;
}

.search-link {
  background-image: url("../images/icons/icon-search.svg");
}

.favourites-link {
  background-image: url("../images/icons/icon-heart.svg");
}

.search-link,
.favourites-link {
  min-width: 20px;
  min-height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.search-item,
.favourites-item {
  position: relative;
  width: 42px;
  align-content: center;
}

.favourites-number {
  font-size: 10px;
  line-height: 10px;
  display: block;
  margin: 0;
  padding: 5px 4px;
  padding-bottom: 6px;
  width: 20px;
  height: 20px;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 10px;
  position: absolute;
  top: -2px;
  right: 3px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

/*Hero*/
.hero {
  background-image: url("../images/background/background-welcome.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 51px;
}

.hero-welcome {
  margin-bottom: 20px;
}

.hero-divider {
  display: block;
  padding: 0;
  margin: 0;
}

/* Advantages and Services*/
.advantages {
  text-align: center;
  padding-top: 69px;
}

.advantages-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  display: block;
  margin: 0;
}

.advantages-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  display: block;
  margin: 0;
}

.advantages-title-top {
  margin-bottom: 25px;
  width: 660px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-description-top {
  margin-bottom: 90px;
  width: 660px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-title-bottom {
  margin-top: 64px;
  margin-bottom: 20px;
  width: 660px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-description-bottom {
  margin-bottom: 64px;
  width: 660px;
  margin-left: auto;
  margin-right: auto;
}

.services-list {
  text-align: center;
}

.advantages-list-title,
.services-list-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}



.advantages-wide-line,
.advantages-line {
  display: block;
  margin: 0 85px;
  margin-bottom: 30px;
  padding: 0;
  width: 60px;
  height: 2px;
  background-color: #FFFFFF4D;
  border: none;
}

.advantages-line {
  background-color: #0000004D;
}

.advantages-list,
.services-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.advantages-list-item,
.services-list-item {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-list-item {
  padding: 102px 85px;
}

.services-list-item {
  padding: 81px 85px;
}

.advantages-list {
  flex-wrap: wrap;
}

.advantages-photo {
  display: block;
  padding: 0;
  margin: 0;
}

.services-photo {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 30px
}

.advantages-list-description,
.services-list-description {
  color: #333333;
  margin: 0;
}

.advantages-wide {
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 100%;
  padding: 0;
  flex-direction: row;
}

.reverse {
  flex-direction: row-reverse;
}

.advantages-list-title {
  margin-bottom: 30px;
}

.services-list-title {
  margin-bottom: 30px;
}

.advantages-flex-container {
  flex-direction: column;
  padding: 102px 85px;
}

.advantages-wide .advantages-list-description {
  color: #FFFFFF;
}

.advantages-transparently,
.services-tighter {
  background-color: #83B3D31F;
}

.advantages-tighter {
  background-color: #83B3D333;
}


/*Search*/
.search {
  text-align: center;
  width: 660px;
  margin: 96px auto;
}

.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-bottom: 54px;
}

/*Subscribe*/
.subscribe {
  text-align: center;
  background-image: url("../images/background/background-subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 0;

}

.subscribe-container {
  width: 480px;
  padding-top: 96px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  padding-bottom: 104px;
}

.subscribe-email {
  display: block;
  width: 452px;
  border: none;
  border-radius: 4px 0 0 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
}

.subscibe-email-inner {
  background-color: #F2F2F2;
}

.subscribe-inner {
  background-image: none;
}

.subscribe-inner-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-inner-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}


/*Footer*/
.page-footer-container {
  display: flex;
  width: 1060px;
  padding: 40px 0;
  padding-bottom: 30px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social-list-item {
  min-width: 24px;
  max-width: 48px;
}

.social-list-link {
  display: block;
  padding: 12px;
  margin: 0;
  text-decoration: none;
}

.social-icon {
  display: block;
  padding: 0;
  margin: 0;
  fill: #83B3D3;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  color: #000000;
  display: block;
  padding: 0;
  margin: 0;
}

.link-logo-Academy {
  display: block;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.logo-Academy {
  display: block;
  padding: 0;
  margin: 0;
  fill: #000000;
}

/* Inner-page*/

.filter-container {
  background-image: url("../images/background/background-filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 35px 70px;
  padding-bottom: 70px;
}


.catalog-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 8px;
}

/*Breadcrumps*/
.breadcrumps {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  display: flex;
}

.breadcrumps-item:last-child {
  padding-left: 18px;
  margin-left: 10px;
}

.breadcrumps-link {
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding: 0;
  margin: 0;
  min-width: 13px;
}

.breadcrumps .breadcrumps-item:nth-child(1) {
  background-image: url("../images/icons/icon-home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumps .breadcrumps-item:nth-child(2) {
  background-image: url("../images/breadcrumps-arrow.svg");
  background-repeat: no-repeat;
  background-position: left;
}

/*Catalog */
.catalog-products {
  display: flex;
}

.catalog-filter {
  color: #FFFFFF;
  width: 1060px;
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control-input {
  line-height: 23px;
}

/*Buttons-filter */
.button-apply {
  background-color: #82B3D3;
  border: 0;
  padding: 8px 50px;
}

.button-reset {
  background-color: transparent;
  border: 0;
  padding: 8px 50px;
}

/* Flex-filter*/
.fieldset-flex-container {
  display: flex;
  width: 370px;
  justify-content: space-between;
}

.button-filter-flex {
  display: flex;
  width: 190px;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 56px;
  margin-left: 70px;
}

/*Sorting */
.sorting {
  display: flex;
  margin: 50px 70px;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: center;
}

.sorting-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.select-control {
  font-size: inherit;
  line-height: inherit;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}


.select-control-flex {
  display: flex;
}

.cards-view-container {
  display: flex;
  margin-left: 70px;
}

.cards-view-container .button {
  height: 48px;
  width: 48px;
  background-color: #FFFFFF;
  border: 2px solid #E5E5E5;
}

.cards-view-container .button:not(:last-child) {
  margin-right: 8px;
}

.cards-view-container .button:nth-child(1) {
  background-image: url("../images/icons/icon-cards.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.cards-view-container .button:nth-child(2) {
  background-image: url("../images/icons/icon-list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.cards-view-container .button:nth-child(3) {
  background-image: url("../images/icons/icon-tile.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* Product-cards*/
.products-list {
  width: 1060px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
}

.product-card {
  min-height: 438px;
  max-width: 340px;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: 16px;
}

.product-card-image {
  display: block;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
}

.product-card-price {
  color: #333333;
  font-size: inherit;
  line-height: inherit;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card-buttons-container,
.product-card-raiting {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.product-card-cost {
  margin: 0;
  text-align: end;
}

.button-detailed {
  padding: 8px 26px;
  max-width: 140px;
}

.button-in-favourites {
  background-color: #82B3D3;
  border: none;
  padding: 8px 20px;

}

.button-favourites {
  background-color: #7DB54F;
  border: none;
  padding: 8px 18px;
}

.stars-of-raiting {
  margin: 0;
  padding: 0;
  max-width: 140px;
  background-repeat: no-repeat;
  background-position: left;
}

.product-card:nth-child(1) .product-card-raiting .stars-of-raiting {
  background-image: url("../images/star-1.svg");

}

.raiting {
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
  border-radius: 4px;
  margin: 0;
  padding: 9px 22px 8px 23px;
  max-width: 140px
}



/* Pagination*/
.pagination-list {
  list-style-type: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  padding: 80px 70px;
  padding-bottom: 60px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.pagination-link,
.pagination-dotted {
  padding: 0;
  margin: 0;
  display: flex;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-current-link {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-dotted {
  color: #000000;
  background-color: #FFFFFF;
}
