@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
}

.main-wrapper {
  background-color: #FFFFFF;
}

.inner-wrapper {
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation-item .button {
  color: #FFFFFF;
}

.button-search,
.button-subscribe {
  font-size: 20px;
  line-height: 36px;
}

.button-subscribe {
  background-color: #82B3D3;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  color: #000000;
  font-weight: 700;
}


.navigation-list {
  list-style-type: none;
}

.favourites-number {
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  background-color: #7DB54F;
}

.hero {
  background-image: url("../images/background/background-welcome.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.advantages {
  text-align: center;
}

.advantages-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.services-list {
  text-align: center;
}

.advantages-list-title,
.services-list-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-list,
.services-list {
  list-style-type: none;
}

.advantages-list-description {
  color: #333333;
}

.advantages-wide {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-wide .advantages-list-description {
  color: #FFFFFF;
}

.advantages-transparently {
  background-color: #83B3D31F;
}

.advantages-tighter {
  background-color: #83B3D333;
}

.services-list-description {
  color: #333333;
}

.services-tighter {
  background-color: #83B3D31F;
}

.search {
  text-align: center;
}

.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.subscribe {
  text-align: center;
  background-image: url("../images/background/background-subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.subscribe-footer {
  background-image: none;
}

.subscribe-footer-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-footer-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}


.social-list {
  list-style-type: none;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.filter-container {
  background-image: url("../images/background/background-filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;
}

.breadcrumps {
  list-style-type: none;
}

.breadcrumps-link {
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
}

.catalog-filter {
  color: #FFFFFF;
}

.catalog-filter-list {
  list-style-type: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.control-input {
  line-height: 23px;
}

.button-apply {
  background-color: #82B3D3;
}

.button-reset {
  background-color: transparent;
}

.sorting-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  font-size: inherit;
  line-height: inherit;
}

.products-list {
  list-style-type: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.product-card-price {
  color: #333333;
  font-size: inherit;
  line-height: inherit;
}

.button-detailed {
  font-size: 16px;
  line-height: 20px;
}

.button-in-favourites {
  font-size: 16px;
  line-height: 20px;
  background-color: #82B3D3;
}

.button-favourites {
  background-color: #7DB54F;
}

.raiting {
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
}

.pagination-list {
  list-style-type: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-link {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.current-pagination-link {
  color: #000000;
  background-color: #F2F2F2;
}
